:root {
    --global-font: 'Lato', sans-serif;
    --global-color: #ff4c3b;
    --global-text-secondary-color : #a1a1a1; 
    --global-hover-text: #000;
    --global-text-color-black: #000;
    --global-color-white: #fff;
    --global-footer-main-color:hwb(0 96% 4%);
    --global-gray-secondary-color : #f5f5f5d7; 
    
}
* {
    box-sizing: border-box;
}
.changeTheme {
    background-color: #000;
    color: rgb(233, 233, 233);
}
header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: var(--global-color-white);
    /* background-color: #aa9e9e; */
}
.header-content-container-cs {
    /* background-color: #f4f4f4; */
    padding: 10px 100px;
    font-size: 15px;
    z-index: 10;

}
.header-left-content {
    font-size: 15px;
}
.header-text-content {
    color: var(--global-text-secondary-color);
    text-decoration: none;

}
.header-text-content span:first-child{
    color: var(--global-color);
}
.header-text-content:hover {
    color: var(--global-hover-text);
}
.header-log-in-container {
    padding: 5px 0px;
}
.header-heart-cs {
    text-align: end;
    color: var(--global-text-secondary-color);
}
.header-heart-cs:hover{
    color: var(--global-color);
}
.myaccount-cs {
    text-decoration: none;
    color: var(--global-text-secondary-color);
}
.myaccount-cs{
    color: #a1a1a1;
    text-align: end;
}
.myaccount-cs:hover{
    color: var(--global-color);
}
.header-log-in-container a {
    color: var(--global-text-secondary-color);
}
.header-log-in-container a:hover{
    color: var(--global-color);
}
.myaccount-cs .myaccount-hover-container .list-group {
    display: none;
}
.myaccount-cs:hover .myaccount-hover-container .list-group{
    display: block;
}
.myaccount-cs .myaccount-hover-container .list-group li{
    text-align: start;
    width: 200px;
    background-color: var(--global-color-white);
    z-index: 10;
}

.content-box{
    text-align: end;
    position: relative;
}


.list-group-item a{
    color: var(--global-hover-text);
    text-decoration: none;
}
.list-group-item a:hover{
    color: var(--global-color);
    text-decoration: none;
}


.logo {
    width: 200px;
}
.navbar {
    display: flex;
}
.navbar .nav-item {
    padding: 10px 15px;
}
.navbar .nav-item:hover {
    color: var(--global-color);
}
.hover-nav-item-list-cs {
    display: none;
    width: 200px;
}
.nav-item:hover .hover-nav-item-list-cs {
    display: block;
}
.navbar-container .navbar .nav-item{
    font-size: 15px;
}
.navbar-container .navbar .nav-item a ion-icon {
    font-size: 25px;
}
.navbar-container .navbar .nav-item a span{
    background-color: var(--global-color);
}
.navbar-container .navbar-tool-list .nav_tool{
    font-size: 25px;
    padding: 10px;
}
.navbar-container .navbar-tool-list .nav_tool a {
    color: inherit;
}
.navbar-container .navbar-tool-list .nav_tool:hover {
    color: var(--global-color);
}
.navbar-container .navbar-tool-list .nav_tool:hover .search-box-container {
    display: block;
    animation: showCartedlistAni 0.3s linear 0s 1 forwards;
}
.navbar-container .navbar-tool-list .search-box-container {
    width: 400px;
    display: none;
}
.navbar-tool-list .nav_tool .search-box-container .search-box .search-result-container .search-result-items {
    padding: 10px;
    background-color: var(--global-color-white);
}
.navbar-tool-list .nav_tool .search-box-container .search-box .search-result-container .search-result-items .search-result-item-img {
    width: 50px;
}
.navbar-tool-list .nav_tool .search-box-container .search-box .search-result-container .search-result-items .search-result-item-name {
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}
.navbar-container .navbar-tool-list .nav_cart_list-show .show-carted-list {
    display: none;
}
.navbar-container .navbar-tool-list .nav_cart_list-show:hover .show-carted-list {
    display: block;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: showCartedlistAni 0.3s linear 0s 1 forwards;
}
@keyframes showCartedlistAni {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
.show-carted-list .carted-list {
    font-size: 18px;
}
.show-carted-list .carted-list .show-carted-li {
    width: 300px;
    padding: 10px;
}
.show-carted-list .carted-list .show-carted-li .product-img {
    width: 40px;
}
.show-carted-list .carted-list .show-carted-li .prouct-delete-cart-btn {
    color: var(--global-text-secondary-color);
}
.show-carted-list .carted-list .show-carted-li .prouct-delete-cart-btn:hover {
    color: var(--global-color);
}
.navbar-container .nav-bar-slide-show-container {
    display: none;
}
.nav-bar-slide-show-container .nav-bar-slide-show-btn {
    padding: 10px;
    font-size: 30px;
}
.nav-bar-slide-show-container .nav-bar-slide-show-btn:hover{
    color: var(--global-color);
}
.nav_bar_slide_container {
    width: 50%;
    z-index: 100;
    display: none;
    overflow: hidden;
    
}
.banner-slide {
    overflow: hidden;
    background-color: #a1a1a1;
}
.banner-carousel-man  {
    height: 100%;
}
.carousel-item-container {
    height: 70vh;
}
.banner-intro-left-container h1 {
    color: var(--global-text-color-black);
    font-size: 50px;
    line-height: 1.5;
}
.banner-intro-left-container a {
    overflow: hidden;
    color: var(--global-color-white);
    padding: 15px 25px;
    border: 2px solid var(--global-color);
    position: relative;
    z-index: 0;
    /* background-color: var(--global-color); */
}
.banner-intro-left-container a::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--global-color);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 50ms ease-in 0s;
    transform: rotate(0deg);
    transform-origin: right bottom;
    z-index: -1;
}
.banner-intro-left-container a:hover {
    color: var(--global-text-color-black);
}
.banner-intro-left-container a:hover::before{
    transform: rotate(90deg);
}
.banner-carousel-man,.banner-carouser-women {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner-carousel-man{
    background-image: url('../assets/img/bg-img/1.jpg');
}
.banner-carouser-women{
    background-image: url('../assets/img/bg-img/2.jpg');
}
.carousel-container {
    width: 100%;
    height: 100%;
}
.carousel-indicator-container {
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 0;
}
.carousel-indicator-container .dot {
    width: 10px;
    height: 10px;
    margin: 0px 10px ;
    cursor: pointer; 
    background-color: var(--global-text-secondary-color);
}
.carousel-indicator-container .dot.active {
    background-color: #ddd;
}
.carousel-control-prev-btn,.carousel-control-next-btn {
    top: 50%;
    transform: translateY(-50%);
    color: var(--global-text-secondary-color);
    font-size: 20px;
    padding: 30px;
    opacity: 0;
    transition: all 0.3s ease 0s;
   
}

.carousel-control-prev-btn{
    left: 20px;
}
.carousel-control-next-btn {
    right: 20px;
}
.carousel-control-prev-btn:hover,.carousel-control-next-btn:hover {
    color: var(--global-color);
    border: 1px solid var(--global-color);
    /* opacity: 1; */
}
.carousel-container:hover .carousel-control-prev-btn,.carousel-container:hover .carousel-control-next-btn{
    opacity: 1;
}
.producti-sections {
    padding: 50px 0px;
}
.save-percent-container-cs {
    width: 100%;
    padding: 50px 100px;
}
.save-percent-left-cs,.save-percent-right-cs {
    flex: 1;
    height: 250px;
    padding-right: 100px;
    overflow: hidden;

}
.percent-bg-man,.percent-bg-women {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease 0s;
    z-index: -1;
}
.percent-bg-man {
    background-image: url("../assets/img/bg-img/sub-banner1.jpg");
}
.percent-bg-women {
    background-image: url("../assets/img/bg-img/sub-banner2.jpg");
}
.save-percent-left-cs:hover .percent-bg-man,.save-percent-right-cs:hover .percent-bg-women{
    transform: scale(1.1);
}
.save-content-cs span{
    color: var(--global-color);
    font-size: 20px;
}
.save-content-cs h1 {
    color: var(--global-text-color-black);
    font-size: 50px;
}
.latest-drop-header-cs {
    width: 50%;

}
.latest-drop-header-cs p:first-child{
    color: var(--global-color);
    font-size: 20px;
}
.latest-drop-header-cs h1 {
    font-size: 40px;
    line-height: 1.5;
}
.latest-drop-header-cs h1::before {
    content: "";
    width: 10%;
    height: 3px;
    background-color: var(--global-color);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.latest-drop-header-cs p:last-child {
    margin-top: 20px;
}
.latest-drop-show-items {
    width: 250px;
    overflow: hidden;
    /* height: 500px; */
    /* background-color: #a1a1a1; */
}

.img-animate {

    animation: product-ani 0.5s linear 0s 1 forwards;
}
@keyframes product-ani {
    0%{
        transform: scale(1);
        opacity: 0.5;
        
    }
    100% {
        transform: scale(0);

    }
}
.items-content-container {
    padding: 10px 10px;
}
.new-product-logo {
    background-color: var(--global-color);
    left: 10px;
    top: 10px;
    color: var(--global-color-white);
    font-weight: 600;
}
.items-content-container p:first-child span{
    color: gold;
}
.items-content-container p:nth-child(2){
    font-size: 18px;
    color: var(--global-color);
}
.items-content-container p:nth-child(3){
    font-weight: 500;
    font-size: 25px;
    color: var(--global-text-color-black);
}
.latest-drop-show-items-container {
    padding: 30px 100px;
    flex-wrap: wrap;
    gap: 10px;
}
.latest-item-img-hover-transition {
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.latest-item-img-container:hover .latest-item-img-hover-transition{
    left: 0%;
    opacity: 1;
}
.latest-btn-group {
    right: 10px;
    bottom: 0;
}
.order-img-btn {
    display: block;
    font-size: 25px;
    transform: translateX(100%);
    opacity: 0;
    transition: color 0s ease 0s;
}
.order-img-btn:hover {
    color: var(--global-color);
}
.latest-item-img-container:hover .order-img-btn{
    transform: translateX(0%);
    opacity: 1;
}
.order-img-btn:nth-child(2){
    transition: all 0.2s ease 0.2s;
    
}
.order-img-btn:nth-child(3){
    transition: all 0.2s ease 0.4s;
    
}
.order-img-btn:nth-child(4){
    transition: all 0.2s ease 0.6s;
    
}
.order-img-btn:nth-child(5){
    transition: all 0.2s ease 0.8s;
    
}

.items-content-container .colors span:nth-child(1){
    background-color: #d0edff;
}
.items-content-container .colors span:nth-child(2){
    background-color: #dfd3d1;
}
.items-content-container .colors span:nth-child(3){
    background-color: #aa9e9e;
}
.items-content-container .colors span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;

}
.second-banner-container {
    width: 100%;
    height: 95vh;
    padding: 0px 100px;
    background-image: url("../assets/img/1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.second-banner-content h1 {
    font-size: 80px;
    color: var(--global-color);
}
.second-banner-content h2 {
    font-size: 50px;
    line-height: 1.5;
    color: var(--global-text-color-black);
}
.second-banner-content h3 {
    font-size: 30px;
    color: var(--global-text-secondary-color);
    letter-spacing: 10px;
}
.exclusive_products_title button {
    font-size: 25px;
    padding: 20px 30px;
}
.exclusive_products_title .exclusive-product-btn.active {
    color: var(--global-color);
}
.service-content-container {
    padding: 20px 100px;
}
.service-contents-items-container {
    padding: 30px 0px;
    flex-wrap: wrap;
}
.service-contents-items {
    width: 350px;
    padding: 10px 30px;
}
.service-contents-items .service-icon{
    padding: 20px;
    color: var(--global-color);
    font-size: 40px;
    transition: all 0.3s ease 0s;
}
.service-contents-items .service-contents span:nth-child(1){
    font-size: 18px;
    transition: all 0.4s ease 0s;
}
.service-contents-items .service-contents span:nth-child(2){
    font-size: 15px;
}
.service-contents-items:hover .service-icon {
    color: var(--global-color);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: service-icon-ani 1s linear 0s 1 forwards;
}
@keyframes service-icon-ani {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.service-contents-items:hover .service-contents span:nth-child(1){
    color: var(--global-color);
}
.fashion-for-you-main-container {
    width: 100%;
    height: auto;
    padding: 50px 100px;
    overflow-x: scroll;
}
.fashion-for-you-items {
    width: 350px;
    margin: 0px 10px;
    height: auto;
    cursor: grab;
    float: left;
}
.fashion-for-you-content-container {
    padding: 10px 0px;
}
.fashion-for-you-content-container h2{
    font-size: 20px;
    color: var(--global-color);
}
.fashion-for-you-content-container a {
    font-size: 20px;
    color: var(--global-text-color-black);
    line-height: 2;
    
}
.fashion-for-you-content-container a:hover {
    color: var(--global-color);
}
.fashion-for-you-content-container a::before{
    content: "";
    width: 20%;
    height: 3px;
    background-color: var(--global-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.fashion-for-you-content-container h4 {
    line-height: 2;
    font-weight: 600;
    color: var(--global-text-secondary-color);
}
.who_wear_show_img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    float: left;
}
.who_wear_instargram_layer {
    font-size: 60px;
    color: rgba(226, 225, 225, 0.4);
    background-color: rgba(255,76,59,0.3);
    transform: scale(2) rotate(45deg);
    opacity: 0;

    transition: all 0.5s ease 0s;
} 
.who_wear_show_img:hover .who_wear_instargram_layer{
    transform: scale(1) rotate(0deg);
    opacity: 1;
}  
.who_wear_show_main_container {
    overflow-x: scroll;
}
/* .who_wear_show_container {
    width: 2000px;
} */
.header-container h1{
    font-size: 30px;
    line-height: 3;
}
.who_wear_show_logo_container {
    padding: 50px 100px;
}
.who_wear_show_logo_img {
    padding: 30px;
}
.who_wear_show_logo_img::before {
    content: "";
    width: 100%;
    height: 100%;
    /* background-color: rgba(221, 221, 221, 0.3); */
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: -1;
    
}
.who_wear_show_logo_img:hover::before{
    background-color: rgba(221, 221, 221, 0.3);
}
.footer-container {
    padding: 50px 100px;
    background-color: var(--global-footer-main-color);
}
.footer-first-container {
    padding: 20px 0px;
}
.sub_email {
    margin-right: 20px;
}
#subscribeEmail {
    outline: none;
    padding: 10px;
}
#subscribeEmail:focus{
    outline: none;
}
.footer-first-rigth-container .subscribeBtn {
    background: var(--global-color);
    color: var(--global-color-white);
    font-weight: 600;
    letter-spacing: 2px;
    padding: 8px 20px;
    
}
.footer-first-left-container,.footer-first-rigth-container{
    flex: 1;
}
.footer-first-left-content h1{
    font-size: 25px;
    color: var(--global-text-color-black);
}
.footer-first-left-content p{
    color: var(--global-text-secondary-color);
}
.footer-second-container {
    padding: 50px 0px 30px 0px;
    flex-wrap: wrap;
}
.footer-second-items {
    width: 250px;
}
.footer-img-container {
    width: 70%;
}
.footer-second-items p{
    padding: 10px 0px;
    color: var(--global-text-secondary-color);
    line-height: 2;
}
.footer-contact-container span a {
    font-size: 20px;
}
.footer-contact-container span a:hover {
    color: var(--global-color);
}
.footer-second-header h1 {
    font-size: 20px;
    padding-bottom: 20px;
}
.footer-second-container .footer-second-items .list-group .list-group-item{
    padding: 5px 0px;
    background-color: transparent;
    border: none;
}
.footer-second-container .footer-second-items .list-group .list-group-item a {
    color: var(--global-text-secondary-color);
    position: relative;
}
.footer-second-container .footer-second-items .list-group .list-group-item a::before {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--global-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease 0s;
}
.footer-second-container .footer-second-items .list-group .list-group-item a:hover::before{
    width: 100%;
}
.footer-second-container .footer-second-items .list-group .list-group-item i {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    color: var(--global-text-secondary-color);
}

.control-page-container {

    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.move_right{
    right: 0;
}

.move_left{
    left: 0;
}
.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.btn-container .btns {
    display: block;
    color: var(--global-text-secondary-color);
    padding: 10px;
    margin: 10px 0px;
    font-weight: 600;
    border: none;
    background-color: var(--global-footer-main-color);
}
.btn-container .btns ion-icon {
    font-size: 30px;
}
.btn-container .btns:hover,.btn-container .btns a:hover {
    color: var(--global-color);
}
.btn-container .btns:first-child span {
    background-color: var(--global-color);
}
.btn-container .btns:last-child {
    background-color: transparent;
}
.btn-container .btns input{
    width: 100%;
    height: 30px;
    color: #fff;
}
/* ---------------- */
/* Invoice */
.invoice-main-container {
    min-height: 100vh;
    overflow: hidden;
}
.invoice-main-container .invoice-container {
    width: 800px;
    margin: 100px;
    padding: 0px 0px 50px 0px;
    /* min-height: 500px; */
    /* background-color: #a1a1a1; */
}
.invoice-body {
    padding: 0px 50px;
}
.issueDate,.invoiceNO,.Email {
    font-size: 20px;
    color: var(--global-color);
}
.invoice-heading-container .content-address {
    font-size: 20px;
}
.invoice_btn_contaier {
    padding: 50px 0px;
}
.exp_pdf_btn ,.print_btn {
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.exp_pdf_btn{
    color: var(--global-color-white);
    background-color: var(--global-color-white);
    border: 2px solid var(--global-text-color-black);

}
.exp_pdf_btn::before,.print_btn::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s ease 0s;
    transform-origin: left bottom;
    z-index: -1;
}
.exp_pdf_btn::before{

    background-color: var(--global-text-color-black);

}
.exp_pdf_btn:hover {
    color: var(--global-text-color-black);
}
.exp_pdf_btn:hover::before{
    transform: rotate(180deg);
}

.print_btn {
    color: var(--global-color-white);
    background-color: var(--global-color-white);
    border: 2px solid var(--global-color);
}
.print_btn::before{
    background-color: var(--global-color);
}
.print_btn:hover {
    color: var(--global-color);
}
.print_btn:hover::before{
    transform: rotate(180deg);
}
.title h1 {
    font-size: 25px;
    font-weight: 500;
    color: var(--global-text-color-black);
}

.invoice-body-table table tfoot tr td{
    text-align: center;
    background-color: var(--global-color);
    color: var(--global-color-white);
    font-size: 20px;
    font-weight: bold;
}
.invoice-body-table table tfoot tr td:nth-child(1){
    background-color: transparent;
}
.invoice-footer-content-container {
    gap: 20px;
}
.invoice-footer-content-items {
    flex: 1;
}
.invoice-footer-icon i {
    color: var(--global-color);
    font-size: 18px;
    display: inline-block;
    margin-right: 20px;
}
.invoice-footer-content {
    font-size: 18px;
}

/*  Product Page */
.page-direction-main-container {
    padding: 20px 100px;
    background-color: var(--global-gray-secondary-color);
}
.product-page-body {
    gap: 20px;
    padding: 50px 100px;
}
.product-page-left-body,.product-page-right-body {
    width: 50%;
}
.product-page-left-bottom-show-img-main-container {
    overflow: hidden;
}
.product-page-left-bottom-show-img-main-container {
    overflow-x:initial;
}
.product-page-left-bottom-show-img-container .product-page-left-bottom-show-img{
    width: 150px;
    padding: 20px 5px;
    position: relative;
}
.product-page-left-bottom-show-img-container .product-page-left-bottom-show-img::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(252, 252, 252, 0.288);
    position: absolute;
    left: 0;
    top: 0;
}
.product-page-left-bottom-show-img-container .active.product-page-left-bottom-show-img::before{
    background-color: transparent;
}
.product-page-right-top-container {
    background-color: var(--global-gray-secondary-color);
    padding: 10px;
}
.product-title-container h1 {
    font-size: 25px;
}
.product-page-right-body .product-rating-container span{
    display: inline-block;
    color: gold;
}
.product-page-right-body .product-rating-container span:nth-child(5){
    color: var(--global-gray-secondary-color);
}
.product-page-right-body .product-rating-container span:nth-child(6){
    color: var(--global-text-color-black);
}
.product-page-right-body .seller_fashion-container p {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
}

.product-page-right-body .seller_fashion-container p:first-child{
    background-color: var(--global-text-secondary-color);
}
.product-page-right-body .product-price-container span:first-child {
    font-size: 23px;
}
.product-page-right-body .product-price-container span:last-child {
    font-size: 18px;
    color: var(--global-color);
}
.product-page-right-body .product-price-container span:nth-child(2){
    color: var(--global-text-secondary-color);
    font-size: 15px;
}
/* .product-page-right-body form .form-group .form-check-input {
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
}
.product-page-right-body form .form-group .form-check-input:nth-child(1) {
    background-color: #d0edff;
}
.product-page-right-body form .form-group .form-check-input:nth-child(2){
    background-color: #f1e7e6;
}
.product-page-right-body form .form-group .form-check-input:nth-child(3){
    background-color: #bfbfbf;
} */
.color-list-1,.color-list-2,.color-list-3,.size-list-1,.size-list-2,.size-list-3,.size-list-4  {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 600;
}
.color-list-1 {
    background-color: #d0edff;
}
.color-list-2 {
    background-color: #f1e7e6;
}
.color-list-3 {
    background-color: #bfbfbf;
}
.product-page-right-body .product-color-select-container ul li.active::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
}
.product-page-right-body .size-select-container .select-size ul li.sizeListActive {
    background-color: var(--global-gray-secondary-color);

}
.size-select-container {
    padding: 10px;
}
#sizechatBtn{
    color: blue;
}
.sizeChatModal {
    background-color: rgba(0,0,0,0.3);
    display: none;
    z-index: 100;
    animation: sizeChatModalAni 0.3s 1 0s 1 forwards;
}
@keyframes sizeChatModalAni {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.size_chat_heading {
    padding: 20px;
    background-color: var(--global-color-white);
    color: var(--global-text-color-black);
}
.size_chat_model_close_btn:hover {
    color: var(--global-color);
}
.sizeChatModalImgContainer {
    width: 500px;
}
.btn-group {
    height: 40px;
    /* background-color: #a1a1a1; */
}
.quantiy-box .btn-group .quentity-count {
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    /* background-color: #ff4c3b; */
    font-size: 20px;
    appearance: none;
}
.product-page-right-body .addCartAndWishList-container #addToCartBtn ,.product-page-right-body .addCartAndWishList-container #wishListBtn{
    padding: 5px 20px;
    margin-right:20px;
    font-size: 15px;
    border: 2px solid var(--global-color);
    /* border: 1px solid black; */
}
.product-page-right-body .addCartAndWishList-container #addToCartBtn {
    background-color: var(--global-color);
    color: var(--global-color-white);
    display: inline-block;
    overflow: hidden;
}
.product-page-right-body .addCartAndWishList-container #addToCartBtn::before{
    content: "";
    width: 40%;
    height: 100%;
    background-color: var(--global-color-white);
    background-size: 100%;
    transform: skewX(20deg) translateX(-200%);
    position: absolute;
    left: 0;
    top: 0;
}
@keyframes addCartBtnAni {
    0%{
        transform: skewX(40deg) translateX(-200%);
    }
    100%{
        transform: skewX(40deg) translateX(600%);
    }
}
.product-page-right-body .addCartAndWishList-container #addToCartBtn:hover::before{
    animation:  addCartBtnAni 0.2s linear 0s 2 alternate-reverse;
}
.product-page-right-body .addCartAndWishList-container #wishListBtn {
    display: inline-block;
    color: var(--global-color-white);
    background-color: var(--global-color);

    
}

.product-page-right-body .addCartAndWishList-container #wishListBtn:hover {
    opacity: 0.9;
}


.saleEndContainer span{
    padding: 10px 20px;
    background-color: var(--global-gray-secondary-color);
    color: var(--global-text-color-black);
}
.product-page-right-body .shoppingInfoContainer span {
    color: var(--global-text-secondary-color);
}
.product-page-right-body .shareItContainer .shareItIcons {
    display: inline-block;
    margin: 10px 10px;
}
.product-page-right-body .shareItContainer .shareItIcons:hover{
    color: var(--global-color);
}
.product-right-margin-adjust {
    margin: 10px 0px;
}
.product-content-body-container {
    padding: 0px 100px;
}
.product-content-body-container .product-content-title-container .product-content-titles {
    padding: 20px;
    /* background-color: var(--global-text-secondary-color); */
    position: relative;
}
.product-content-body-container .product-content-title-container .active.product-content-titles::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--global-color);
    position: absolute;
    left: 0;
    bottom: 0;
}
.product-content-body-container .prduct-content-container {
    padding: 20px;
}
.prduct-content-container .product-detail-content-container p,.product-specific-content-container p,.product-specific-content-container span {
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    color: var(--global-text-secondary-color);
}
.prduct-content-container .product-detail-content-container table tr td {
    font-size: 16px;
    line-height: 2;
    color: var(--global-text-color-black);
}

.prduct-content-container .product-specific-content-container table tr td span{
    /* display: inline-block; */
    padding-left: 100px;
    font-weight: 400;
    color: var(--global-text-color-black);
}
.prduct-content-container .product-video-content-container .product-video-container {
    width: 400px;
}
.submitReviewBtn {
    padding: 10px 25px;
    font-weight: 600;
    border: 2px solid var(--global-color);
    color: var(--global-color-white);
    position: relative;
    overflow: hidden;
}
.submitReviewBtn::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--global-color);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
    transform-origin: left bottom;
}
.submitReviewBtn:hover {
    color: var(--global-color);
}
.submitReviewBtn:hover::before {
    transform: rotate(90deg);
}
/* ------------------- */
/* Wishlist */
.wishlist-body-container {
    padding: 50px 100px;
}
.wishlist-show-img {
    width: 50px;
}
.wishlist-productName,.wishlist-availability {
    font-size: 15px;
}
.wishlist-price {
    font-size: 25px;
}
.wishlist-action {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}
.wishlist-action:hover{
    color: var(--global-color);
}
.wishlist-body-container table thead th tr,.wishlist-body-container table tbody tr td {
    line-height: 64px;
}
.wishlist-body-container table tfoot tr td .wishlist-continue-shopping ,.wishlist-body-container table tfoot tr td .wishlist-checkout {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 45px;
    color: var(--global-color-white);
    border: 2px solid var(--global-color);
    position: relative;
    overflow: hidden;
}
.wishlist-body-container table tfoot tr td .wishlist-continue-shopping::before ,.wishlist-body-container table tfoot tr td .wishlist-checkout::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--global-color);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.wishlist-body-container table tfoot tr td .wishlist-continue-shopping:hover ,.wishlist-body-container table tfoot tr td .wishlist-checkout:hover {
    color: var(--global-color);
}
.wishlist-body-container table tfoot tr td .wishlist-continue-shopping:hover::before ,.wishlist-body-container table tfoot tr td .wishlist-checkout:hover::before {
    transform: translate(100%,100%);
}

/* Cart  */
.cart-expired-timer-container {
    text-align: center;
}
#cart-timer {
    font-weight: 700;
    color: var(--global-color);
}
.check-out-btn {
    color: var(--global-color);
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 10px 20px;
}
.check-out-btn::before {
    content: "Check Out";
    background-color: var(--global-color-white);
    color: var(--global-color);
    width: 100%;
    height: 100%;
    line-height: 38px;
    border: 2px solid var(--global-color);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: -1;
}
.check-out-btn:hover {
    color: var(--global-color-white);
    background-color: var(--global-color);
}
.cart_quantity {
    width: 50%;
    border-radius: 0;
    outline: none;
}
.cart-total {
    font-size: 25px;
    color: var(--global-color);
}
.cart-total-title {
    font-size: 15px;
    color: var(--global-text-color-black);
}
.cart-total-amount {
    font-size: 25px;
    color: var(--global-text-color-black);
}

/* ------------------------ */
/* log in */
.login-body-container {
    padding: 50px 100px;
}
.log-in-form-container .log-in-form,.register-direct-container{
    background-color: var(--global-gray-secondary-color);
    padding: 20px;
}
.log-in-form-container h1,.log-in-new-customer-container h1 {
    font-size: 25px;
}
.log-in-form-container .log-in-form .form-group label {
    font-size: 15px;
}
.log-in-form-container .log-in-form .form-group input ,.log-in-form-container .log-in-form .form-group select,.log-in-form-container .log-in-form .form-group textarea{
    padding: 10px 15px;
}
.log-in-form-container .log-in-form .form-group input::placeholder,.log-in-form-container .log-in-form .form-group textarea::placeholder {
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}
.log-in-form-container .log-in-form .form-group input[type=submit],.contact-body-message-main-container .contact-form-container .contact-in-form input[type=submit]{
    padding: 15px 30px;
    color: var(--global-color-white);
    background-color: var(--global-color);
    position: relative;
    
}
.log-in-form-container .log-in-form .form-group input[type=submit]:hover,.contact-body-message-main-container .contact-form-container .contact-in-form input[type=submit]:hover {
    opacity: 0.8;
}
.register-direct-container h2 {
    font-size: 18px;
    margin-bottom: 25px;
}
.register-direct-container p {
    font-size: 15px;
    line-height: 2;

}
.register-direct-container a {
    margin: 20px 0px;
    padding: 15px 30px;
    background-color: var(--global-color);
    color: var(--global-color-white);
    opacity: 1;
}
.register-direct-container a:hover {
    opacity: 0.9;
}
/* ------------------ */
/* Contact */
.contact-body-container {
    padding: 50px 100px;
}
.contact-map-list-container .contact-map-container .contact-map {
    height: 400px;
}
.contact-map-list-container .contact-list-container .contact-lists .contact-list-title {
    font-size: 15px;
    color: var(--global-color);
    width: 150px;
}
.contact-map-list-container .contact-list-container .contact-lists .contact-list-title span {
    line-height: 2;
}
.contact-map-list-container .contact-list-container .contact-lists .contact-list-detail span {
    display: block;
    text-align: start;
    font-size: 13px;
    font-weight: 700;
    color: var(--global-text-secondary-color);
}
.contact-body-message-main-container .contact-form-container .contact-in-form input {
    padding: 15px;
}
.contact-body-message-main-container .contact-form-container .contact-in-form input::placeholder {
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}
.contact-body-message-main-container .contact-form-container .contact-in-form textarea::placeholder {
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}
/* ------------- */
/* Forget Password */
.forgetpassword-form-container .forgetPassword-form{
    background-color: var(--global-color-white);
}
.forgetpassword-form-container .forgetPassword-form .form-group label {
    font-size: 40px;
}
/* User Dashboard  */
.deshboard-body-main-container {
    padding: 50px 100px;
}
.profile-img-container {
    width: 150px;
    height: 150px;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}
.deshboard-left-menu-container .deshboard-list-container ul li:hover {
    color: var(--global-color);
    border-right: 2px solid var(--global-color);
}
.deshboard-left-menu-container .deshboard-list-container ul li.active {
    color: var(--global-color);
    border-right: 2px solid var(--global-color);
}
.deshboard-left-menu-container {
    background-color: var(--global-gray-secondary-color);
}
.deshboard-right-menus .account-info-container .account-info-heading {
    color: var(--global-text-color-black);
}
.deshboard-right-menus .account-info-container .overview-container {
    flex-wrap: wrap;
}
.deshboard-right-menus .account-info-container .overview-container .overview {

    padding: 10px;

}
.deshboard-right-menus .account-info-container .overview-container .overview .overview-item{
    height: 100px;
    width: 100%;
    background-color: var(--global-gray-secondary-color);
    border-left: 3px solid var(--global-color);
    border-radius: 10px;

}
.deshboard-right-menus .account-info-container .overview-container .overview img{
    width: 50px;
}
.deshboard-right-menus .account-info-container .overview-container .overview .show-detail span:first-child{
    color: var(--global-color);
    font-size: 25px;
}
.deshboard-right-menus .account-info-container .account-information .heading_edit {
    padding: 10px;
    background-color: var(--global-gray-secondary-color);
    border-radius: 10px;
}
.deshboard-right-menus .account-info-container .account-information .heading_edit span a:hover {
    color : var(--global-color);
}
.deshboard-right-menus .account-info-container .account-information .contact-information-detail {
    color: var(--global-text-secondary-color);
    font-size: 14px;
}
.deshboard-right-menus .account-info-container .account-information .contact-information-detail div:last-child a{
    color: var(--global-color);
}
.deshboard-right-menus .account-info-container .account-information .contact-information-detail div:last-child a:hover{
    color: var(--global-color);
}
.deshboard-right-menus .address-book-heading a {
    background-color: var(--global-color);
    color: var(--global-color-white);
    border: 2px solid var(--global-color);
}
.deshboard-right-menus .address-book-heading a:hover{
    background-color: var(--global-color-white);
    color: var(--global-color);
}
.deshboard-right-menu-container .deshboard-right-menus .address-book-container {
    background-color: var(--global-gray-secondary-color);
    padding: 20px;
}
.deshboard-right-menu-container .deshboard-right-menus .address-book-container .address-contents-container {
    /* height: 300px; */
    background-color: var(--global-color-white);
    padding: 20px;

}
.address-contents-container .address-contentes-heading div {
    background-color: var(--global-color);

}
.address-content-footer a {
    background-color: var(--global-gray-secondary-color);
}
.my-orders-container , .my-wishlist-container,.deshboard-right-menus .profile-container {
    background-color: var(--global-gray-secondary-color);
    padding: 20px;
}
.my-orders-container .my-order-body table
,.my-wishlist-container .my-orwishlistder-body table {
    padding: 10px;
}
.my-orders-container .my-order-body table thead tr,.my-orders-container .my-order-body table tbody tr,
.my-wishlist-container .my-order-body table thead tr,.my-wishlist-container .my-wishlist-body table tbody tr{
    height: 70px;

}
.my-orders-container .my-order-body table thead tr th,.my-orders-container .my-order-body table tbody tr td,
.my-wishlist-container .my-wishlist-body table thead tr,.my-wishlist-container .my-wishlist-body table tbody tr  {
    line-height: 70px;
    text-align: center;
}

.my-orders-container .my-order-body table tbody tr td .my-order-table-image,
.my-wishlist-container .my-wishlist-body table tbody tr td .my-wishlist-table-image {
    width: 60px;
}
.my-wishlist-container .my-wishlist-body table tbody tr td a {
    background-color: var(--global-color);
    border: 2px solid var(--global-color);
    color: var(--global-color-white);
}
.my-wishlist-container .my-wishlist-body table tbody tr td a:hover {
    background-color: var(--global-color-white);
    color: var(--global-color);
}

.profile-container .profile-heading a {
    color: var(--global-color);
}
.deshboard-right-menus .profile-container .profile-body .category-list table tbody tr td {
    padding: 5px 0px;
    font-size: 14px;
}
.deshboard-right-menus .profile-container .profile-body .category-list table tbody tr td:last-child{
    font-weight: 500;
    color: var(--global-text-color-black);
}
.deshboard-right-menus .profile-container .profile-body .category-list table tbody tr td a{
    color: var(--global-color);
}

/* Check OUt */
.check-out-main-container .check-out-form-container .check-out-form {
    background-color: var(--global-color-white);
}
.check-out-payment .chect-out-payment-container table thead tr th {
    font-size: 20px;
}
.check-out-payment .chect-out-payment-container table tr th,.check-out-payment .chect-out-payment-container table tr td{
    padding: 10px 0px;
}
.check-out-payment .chect-out-payment-container table tbody tr td:last-child{
    font-size: 20px;
}
.check-out-payment .chect-out-payment-container table tfoot tr td:last-child label,.check-out-payment .chect-out-payment-container .payment-methods .form-check label{
    font-weight: 600;
    color: var(--global-text-secondary-color);
    font-size: 15px;
    
}
.check-out-payment .chect-out-payment-container table tfoot tr td:last-child{
    font-size: 20px;
    color: var(--global-color);
}
.check-out-payment .chect-out-payment-container .payment-methods .form-check{
    padding: 8px 0px;
}
/* Order Success */
.order-success-info-contianer {
    height: 80vh;
    background-color:var(--global-gray-secondary-color);
}
.order-success-info i {
    font-size: 150px;
    color: var(--global-color);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: orderSuccessAni 5s linear 0s infinite;
}
@keyframes orderSuccessAni {
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(0.6);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}
.order-success-info h1 {
    font-size: 40px;
}
.order-success-info span {
    font-size: 20px;
}

/* About Us */
.content-container {
    padding: 50px 100px;
}
.content-container p:nth-child(3){
    line-height: 2;
}
.about-us-designer-content-container {
    padding: 50px 100px;
    background-color: var(--global-gray-secondary-color);
}
.designer-avater h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    color: var(--global-color);
    letter-spacing: 1px;
}

/* search page */
.search-page-input {
    padding: 10px 15px;
    border-radius: 0px;
    border: 1px solid #ccc;
}
.search-page-input:focus {
    outline: none;
}
.search-page-btn {
    background-color: var(--global-color);
    color: var(--global-color-white);
    border: 2px solid var(--global-color);
}
.search-page-btn:hover {
    background-color: var(--global-color-white);
    color: var(--global-color);
}
/* Review */
.review-container {
    padding: 50px 100px;
}
.review-content-container .reviewer-content p {
    font-size: 14px;
    line-height: 2;
}
/* Faq */
.faq-container {
    padding: 50px 100px;
}
.faq-container .faq-items-container .faq-content-title h1{
    padding: 15px;
    background-color: var(--global-gray-secondary-color);
    color: var(--global-text-color-black);
    font-size: 16px;
    text-decoration: underline;
    position: relative;
    cursor: pointer;

}
.faq-container .faq-items-container .faq-content-title h1::after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 10px;
    transition: all 1s ease 0s;
}
.faq-container .faq-items-container .faq-content-title h1.active{
    color: var(--global-color);
}
.faq-container .faq-items-container .faq-content-title h1.active::after {
    transform: rotate(180deg);
}
.faq-container .faq-items-container .faq-content-title h1:hover {
    color: var(--global-color);
}
.faq-container .faq-items-container .faq-content p {
    height: 0px;
    line-height: 1.5;
    overflow: hidden;
}
.faq-container .faq-items-container .faq-content{
    padding: 15px;
    overflow: hidden;
    transition: all 1s ease 0s;
}
.faq-container .faq-items-container .faq-content p.active {
    height: max-content;
    transition: all 2s ease 0s;
}

/* Vandor Deshboard */
.vendor-chart-container {
    height: auto;
}
.totalRevenue ,.overallSales {
    background-color: var(--global-gray-secondary-color);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.trendingAndOrder-container table tbody tr td img {
    width: 50px;
    margin: auto;
}
.trendingAndOrder-container table tbody tr td {
    line-height: 50px;
}
.trendingAndOrder-container .trendignAndOrder {
    padding: 10px;
}
.trendingAndOrder-container .trendignAndOrder .trending,.trendingAndOrder-container .trendignAndOrder .orderlist{
    border-radius: 10px;
    padding: 10px;
    background-color: var(--global-gray-secondary-color);
}
.products-container .header a {
    border: 2px solid var(--global-color);
    background-color: var(--global-color);
    color: var(--global-color-white);
}
.products-container .product-body table tbody tr td img {
    width: 50px;
    height: 50px;
}
.products-container .product-body table tbody tr td{
    line-height: 50px;
}
.product-list {
    display: none;
}
.product-list-toggle {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: productListToggle 2s linear 0s 1 forwards;
}
@keyframes productListToggle {
    0%{
        height: 0;
    }
    100%{
        height: auto;
    }
}
.sub-header button {
    background-color: var(--global-color);
    color: var(--global-color-white);
}
/* Bolg Detail */
.blog-details-header span{
    font-size: 14px;
}
.content-container .content-para-container p {
    line-height: 1.5;
    font-size: 16px;
}
.blog-content-img-intro-container .blog-content-img-intro ul li {
    padding: 5px 0px;
}
.blog-content-img-intro-container .blog-content-img-intro .blog-content-img-intro-content p {
    font-size: 14px;
    line-height: 2;
}
.content-container .blog-detail-leave-comment-container form .form-group .form-control{
    padding: 10px;
}
.content-container .blog-detail-leave-comment-container form .form-group .form-control::placeholder{
    font-size: 14px;
}
.content-container .blog-detail-leave-comment-container form button {
    background-color: var(--global-color);
    color: var(--global-color-white);
    font-size: 15px;
}
/* Blog */
.blog-sidebar-container .blog-left-sidebar-container {
    background-color: var(--global-gray-secondary-color);
}
.blog-left-popular-blog-container .popular-date {
    background-color: var(--global-color);
    color: var(--global-color-white);
    padding: 10px 0px;
}
.blog-left-popular-blog-container .blog-left-popular-blog-items{
    font-size: 14px;
}
.blog-right-side-content-container a {
    color: var(--global-text-color-black);
}
.blog-right-side-content-container p {
    font-size: 14px;
}
.blog-left-sidebar-recent-blog-container ,.blog-left-popular-blog-container {
    background-color: var(--global-gray-secondary-color);
}