:root {
    --global-font: 'Lato', sans-serif;
    --global-color: #ff4c3b;
    --global-text-secondary-color : #a1a1a1; 
    --global-hover-text: #000;
    --global-text-color-black: #000;
    --global-color-white: #fff;
    --global-footer-main-color:hwb(0 96% 4%);
    --global-gray-secondary-color : #f5f5f5d7; 
    
}
.changeTheme {
    background-color: #000;
    color: rgb(233, 233, 233);
}
header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: var(--global-color-white);
}
.header-content-container-cs {
    /* background-color: #f4f4f4; */
    padding: 10px 100px;
    font-size: 15px;
    z-index: 10;

}
.header-left-content {
    font-size: 15px;
}
.header-text-content {
    color: var(--global-text-secondary-color);
    text-decoration: none;

}
.header-text-content span:first-child{
    color: var(--global-color);
}
.header-text-content:hover {
    color: var(--global-hover-text);
}
.header-heart-cs {
    text-align: end;
    color: var(--global-text-secondary-color);
}
.header-heart-cs:hover{
    color: var(--global-color);
}
.myaccount-cs {
    text-decoration: none;
    color: var(--global-text-secondary-color);
}
.myaccount-cs{
    color: #a1a1a1;
    text-align: end;
}
.myaccount-cs:hover{
    color: var(--global-color);
}
.content-box{
    text-align: end;
    position: relative;
}


.list-group-item a{
    color: var(--global-hover-text);
    text-decoration: none;
}
.list-group-item a:hover{
    color: var(--global-color);
    text-decoration: none;
}
@keyframes login-regi-box {
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.logo {
    width: 200px;
}
.navbar .nav-item {
    padding: 10px 15px;
}
.navbar .nav-item:hover {
    color: var(--global-color);
}
.hover-nav-item-list-cs {
    display: none;
}
.nav-item:hover .hover-nav-item-list-cs {
    display: block;
}
.navbar-container .navbar .nav-item{
    font-size: 15px;
}
.navbar-container .navbar .nav-item a ion-icon {
    font-size: 25px;
}
.navbar-container .navbar .nav-item a span{
    background-color: var(--global-color);
}
.banner-slide {
    overflow: hidden;
    background-color: #a1a1a1;
}
.banner-carousel-man  {
    height: 100%;
}
.carousel-item-container {
    height: 70vh;
}
.banner-intro-left-container h1 {
    color: var(--global-text-color-black);
    font-size: 50px;
    line-height: 1.5;
}
.banner-intro-left-container a {
    overflow: hidden;
    color: var(--global-color-white);
    padding: 15px 25px;
    border: 2px solid var(--global-color);
    position: relative;
    z-index: 0;
    /* background-color: var(--global-color); */
}
.banner-intro-left-container a::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--global-color);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 50ms ease-in 0s;
    transform: rotate(0deg);
    transform-origin: right bottom;
    z-index: -1;
}
.banner-intro-left-container a:hover {
    color: var(--global-text-color-black);
}
.banner-intro-left-container a:hover::before{
    transform: rotate(90deg);
}
.banner-carousel-man,.banner-carouser-women {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner-carousel-man{
    background-image: url('../assets/img/bg-img/1.jpg');
}
.banner-carouser-women{
    background-image: url('../assets/img/bg-img/2.jpg');
}
.carousel-container {
    width: 100%;
    height: 100%;
}
.carousel-indicator-container {
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 0;
}
.carousel-indicator-container .dot {
    width: 10px;
    height: 10px;
    margin: 0px 10px ;
    cursor: pointer; 
    background-color: var(--global-text-secondary-color);
}
.carousel-indicator-container .dot.active {
    background-color: #ddd;
}
.carousel-control-prev-btn,.carousel-control-next-btn {
    top: 50%;
    transform: translateY(-50%);
    color: var(--global-text-secondary-color);
    font-size: 20px;
    padding: 30px;
    opacity: 0;
    transition: all 0.3s ease 0s;
   
}

.carousel-control-prev-btn{
    left: 20px;
}
.carousel-control-next-btn {
    right: 20px;
}
.carousel-control-prev-btn:hover,.carousel-control-next-btn:hover {
    color: var(--global-color);
    border: 1px solid var(--global-color);
    /* opacity: 1; */
}
.carousel-container:hover .carousel-control-prev-btn,.carousel-container:hover .carousel-control-next-btn{
    opacity: 1;
}
.producti-sections {
    padding: 50px 0px;
}
.save-percent-container-cs {
    width: 100%;
    padding: 50px 100px;
}
.save-percent-left-cs,.save-percent-right-cs {
    flex: 1;
    height: 250px;
    padding-right: 100px;
    overflow: hidden;

}
.percent-bg-man,.percent-bg-women {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease 0s;
    z-index: -1;
}
.percent-bg-man {
    background-image: url("../assets/img/bg-img/sub-banner1.jpg");
}
.percent-bg-women {
    background-image: url("../assets/img/bg-img/sub-banner2.jpg");
}
.save-percent-left-cs:hover .percent-bg-man,.save-percent-right-cs:hover .percent-bg-women{
    transform: scale(1.1);
}
.save-content-cs span{
    color: var(--global-color);
    font-size: 20px;
}
.save-content-cs h1 {
    color: var(--global-text-color-black);
    font-size: 50px;
}
.latest-drop-header-cs {
    width: 50%;

}
.latest-drop-header-cs p:first-child{
    color: var(--global-color);
    font-size: 20px;
}
.latest-drop-header-cs h1 {
    font-size: 40px;
    line-height: 1.5;
}
.latest-drop-header-cs h1::before {
    content: "";
    width: 10%;
    height: 3px;
    background-color: var(--global-color);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.latest-drop-header-cs p:last-child {
    margin-top: 20px;
}
.latest-drop-show-items {
    width: 250px;
    overflow: hidden;
    /* height: 500px; */
    /* background-color: #a1a1a1; */
}
.items-content-container {
    padding: 10px 10px;
}
.new-product-logo {
    background-color: var(--global-color);
    left: 10px;
    top: 10px;
    color: var(--global-color-white);
    font-weight: 600;
}
.items-content-container p:first-child span{
    color: gold;
}
.items-content-container p:nth-child(2){
    font-size: 18px;
    color: var(--global-color);
}
.items-content-container p:nth-child(3){
    font-weight: 500;
    font-size: 25px;
    color: var(--global-text-color-black);
}
.latest-drop-show-items-container {
    padding: 30px 100px;
    flex-wrap: wrap;
    gap: 10px;
}
.latest-item-img-hover-transition {
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.latest-item-img-container:hover .latest-item-img-hover-transition{
    left: 0%;
    opacity: 1;
}
.latest-btn-group {
    right: 10px;
    bottom: 0;
}
.order-img-btn {
    display: block;
    font-size: 25px;
    transform: translateX(100%);
    opacity: 0;
    transition: color 0s ease 0s;
}
.order-img-btn:hover {
    color: var(--global-color);
}
.latest-item-img-container:hover .order-img-btn{
    transform: translateX(0%);
    opacity: 1;
}
.order-img-btn:nth-child(2){
    transition: all 0.2s ease 0.2s;
    
}
.order-img-btn:nth-child(3){
    transition: all 0.2s ease 0.4s;
    
}
.order-img-btn:nth-child(4){
    transition: all 0.2s ease 0.6s;
    
}
.order-img-btn:nth-child(5){
    transition: all 0.2s ease 0.8s;
    
}

.items-content-container .colors span:nth-child(1){
    background-color: #d0edff;
}
.items-content-container .colors span:nth-child(2){
    background-color: #dfd3d1;
}
.items-content-container .colors span:nth-child(3){
    background-color: #aa9e9e;
}
.items-content-container .colors span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;

}
.second-banner-container {
    width: 100%;
    height: 95vh;
    padding: 0px 100px;
    background-image: url("../assets/img/1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.second-banner-content h1 {
    font-size: 80px;
    color: var(--global-color);
}
.second-banner-content h2 {
    font-size: 50px;
    line-height: 1.5;
    color: var(--global-text-color-black);
}
.second-banner-content h3 {
    font-size: 30px;
    color: var(--global-text-secondary-color);
    letter-spacing: 10px;
}
.exclusive_products_title button {
    font-size: 25px;
    padding: 20px 30px;
}
.exclusive_products_title .exclusive-product-btn.active {
    color: var(--global-color);
}
.service-content-container {
    padding: 20px 100px;
}
.service-contents-items-container {
    padding: 30px 0px;
    flex-wrap: wrap;
}
.service-contents-items {
    width: 350px;
    padding: 10px 30px;
}
.service-contents-items .service-icon{
    padding: 20px;
    font-size: 40px;
    transition: all 0.3s ease 0s;
}
.service-contents-items .service-contents span:nth-child(1){
    font-size: 18px;
    transition: all 0.4s ease 0s;
}
.service-contents-items .service-contents span:nth-child(2){
    font-size: 15px;
}
.service-contents-items:hover .service-icon {
    color: var(--global-color);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: service-icon-ani 1s linear 0s 1 forwards;
}
@keyframes service-icon-ani {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.service-contents-items:hover .service-contents span:nth-child(1){
    color: var(--global-color);
}
.fashion-for-you-main-container {
    width: 100%;
    height: auto;
    padding: 50px 100px;
    overflow-x: scroll;
}
.fashion-for-you-items {
    width: 350px;
    margin: 0px 10px;
    height: auto;
    cursor: grab;
    float: left;
}
.fashion-for-you-content-container {
    padding: 10px 0px;
}
.fashion-for-you-content-container h2{
    font-size: 20px;
    color: var(--global-color);
}
.fashion-for-you-content-container a {
    font-size: 20px;
    color: var(--global-text-color-black);
    line-height: 2;
    
}
.fashion-for-you-content-container a:hover {
    color: var(--global-color);
}
.fashion-for-you-content-container a::before{
    content: "";
    width: 20%;
    height: 3px;
    background-color: var(--global-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.fashion-for-you-content-container h4 {
    line-height: 2;
    font-weight: 600;
    color: var(--global-text-secondary-color);
}
.who_wear_show_img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    float: left;
}
.who_wear_instargram_layer {
    font-size: 60px;
    color: rgba(226, 225, 225, 0.4);
    background-color: rgba(255,76,59,0.3);
    transform: scale(2) rotate(45deg);
    opacity: 0;

    transition: all 0.5s ease 0s;
} 
.who_wear_show_img:hover .who_wear_instargram_layer{
    transform: scale(1) rotate(0deg);
    opacity: 1;
}  
.who_wear_show_main_container {
    overflow-x: scroll;
}
/* .who_wear_show_container {
    width: 2000px;
} */
.header-container h1{
    font-size: 30px;
    line-height: 3;
}
.who_wear_show_logo_container {
    padding: 50px 100px;
}
.who_wear_show_logo_img {
    padding: 30px;
}
.who_wear_show_logo_img::before {
    content: "";
    width: 100%;
    height: 100%;
    /* background-color: rgba(221, 221, 221, 0.3); */
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: -1;
    
}
.who_wear_show_logo_img:hover::before{
    background-color: rgba(221, 221, 221, 0.3);
}
.footer-container {
    padding: 50px 100px;
    background-color: var(--global-footer-main-color);
}
.footer-first-container {
    padding: 20px 0px;
}
.sub_email {
    margin-right: 20px;
}
#subscribeEmail {
    outline: none;
    padding: 10px;
}
#subscribeEmail:focus{
    outline: none;
}
.footer-first-rigth-container .subscribeBtn {
    background: var(--global-color);
    color: var(--global-color-white);
    font-weight: 600;
    letter-spacing: 2px;
    padding: 8px 20px;
    
}
.footer-first-left-container,.footer-first-rigth-container{
    flex: 1;
}
.footer-first-left-content h1{
    font-size: 25px;
    color: var(--global-text-color-black);
}
.footer-first-left-content p{
    color: var(--global-text-secondary-color);
}
.footer-second-container {
    padding: 50px 0px 30px 0px;
    flex-wrap: wrap;
}
.footer-second-items {
    width: 250px;
}
.footer-img-container {
    width: 70%;
}
.footer-second-items p{
    padding: 10px 0px;
    color: var(--global-text-secondary-color);
    line-height: 2;
}
.footer-contact-container span a {
    font-size: 20px;
}
.footer-contact-container span a:hover {
    color: var(--global-color);
}
.footer-second-header h1 {
    font-size: 20px;
    padding-bottom: 20px;
}
.footer-second-container .footer-second-items .list-group .list-group-item{
    padding: 5px 0px;
    background-color: transparent;
    border: none;
}
.footer-second-container .footer-second-items .list-group .list-group-item a {
    color: var(--global-text-secondary-color);
    position: relative;
}
.footer-second-container .footer-second-items .list-group .list-group-item a::before {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--global-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease 0s;
}
.footer-second-container .footer-second-items .list-group .list-group-item a:hover::before{
    width: 100%;
}
.footer-second-container .footer-second-items .list-group .list-group-item i {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    color: var(--global-text-secondary-color);
}

.control-page-container {

    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.move_right{
    right: 0;
}

.move_left{
    left: 0;
}
.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.btn-container .btns {
    display: block;
    color: var(--global-text-secondary-color);
    padding: 10px;
    margin: 10px 0px;
    font-weight: 600;
    border: none;
    background-color: var(--global-footer-main-color);
}
.btn-container .btns ion-icon {
    font-size: 30px;
}
.btn-container .btns:first-child span {
    background-color: var(--global-color);
}
.btn-container .btns:last-child {
    background-color: transparent;
}
.btn-container .btns input{
    width: 100%;
    height: 30px;
    color: #fff;
}
/* ---------------- */
/* Invoice */
.invoice-main-container {
    min-height: 100vh;
    overflow: hidden;
}
.invoice-main-container .invoice-container {
    width: 800px;
    margin: 100px;
    padding: 0px 0px 50px 0px;
    /* min-height: 500px; */
    /* background-color: #a1a1a1; */
}
.invoice-body {
    padding: 0px 50px;
}
.issueDate,.invoiceNO,.Email {
    font-size: 20px;
    color: var(--global-color);
}
.invoice-heading-container .content-address {
    font-size: 20px;
}
.invoice_btn_contaier {
    padding: 50px 0px;
}
.exp_pdf_btn ,.print_btn {
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.exp_pdf_btn{
    color: var(--global-color-white);
    background-color: var(--global-color-white);
    border: 2px solid var(--global-text-color-black);

}
.exp_pdf_btn::before,.print_btn::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s ease 0s;
    transform-origin: left bottom;
    z-index: -1;
}
.exp_pdf_btn::before{

    background-color: var(--global-text-color-black);

}
.exp_pdf_btn:hover {
    color: var(--global-text-color-black);
}
.exp_pdf_btn:hover::before{
    transform: rotate(180deg);
}

.print_btn {
    color: var(--global-color-white);
    background-color: var(--global-color-white);
    border: 2px solid var(--global-color);
}
.print_btn::before{
    background-color: var(--global-color);
}
.print_btn:hover {
    color: var(--global-color);
}
.print_btn:hover::before{
    transform: rotate(180deg);
}
.title h1 {
    font-size: 25px;
    font-weight: 500;
    color: var(--global-text-color-black);
}

.invoice-body-table table tfoot tr td{
    text-align: center;
    background-color: var(--global-color);
    color: var(--global-color-white);
    font-size: 20px;
    font-weight: bold;
}
.invoice-body-table table tfoot tr td:nth-child(1){
    background-color: transparent;
}
.invoice-footer-content-container {
    gap: 20px;
}
.invoice-footer-content-items {
    flex: 1;
}
.invoice-footer-icon i {
    color: var(--global-color);
    font-size: 18px;
    display: inline-block;
    margin-right: 20px;
}
.invoice-footer-content {
    font-size: 18px;
}

/*  Product Page */
.page-direction-main-container {
    padding: 20px 100px;
    background-color: var(--global-gray-secondary-color);
}
.product-page-body {
    gap: 20px;
    padding: 50px 100px;
}
.product-page-left-body,.product-page-right-body {
    flex: 1;
}
.product-page-right-top-container {
    background-color: var(--global-gray-secondary-color);
    padding: 10px;
}
.product-title-container h1 {
    font-size: 25px;
}
.product-page-right-body .product-rating-container span{
    display: inline-block;
    color: gold;
}
.product-page-right-body .product-rating-container span:nth-child(5){
    color: var(--global-gray-secondary-color);
}
.product-page-right-body .product-rating-container span:nth-child(6){
    color: var(--global-text-color-black);
}
.product-page-right-body .seller_fashion-container p {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
}

.product-page-right-body .seller_fashion-container p:first-child{
    background-color: var(--global-text-secondary-color);
}
.product-page-right-body .product-price-container span:first-child {
    font-size: 23px;
}
.product-page-right-body .product-price-container span:last-child {
    font-size: 18px;
    color: var(--global-color);
}
.product-page-right-body .product-price-container span:nth-child(2){
    color: var(--global-text-secondary-color);
    font-size: 15px;
}
/* .product-page-right-body form .form-group .form-check-input {
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
}
.product-page-right-body form .form-group .form-check-input:nth-child(1) {
    background-color: #d0edff;
}
.product-page-right-body form .form-group .form-check-input:nth-child(2){
    background-color: #f1e7e6;
}
.product-page-right-body form .form-group .form-check-input:nth-child(3){
    background-color: #bfbfbf;
} */
.color-list-1,.color-list-2,.color-list-3  {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.color-list-1 {
    background-color: #d0edff;
}
.color-list-2 {
    background-color: #f1e7e6;
}
.color-list-3 {
    background-color: #bfbfbf;
}
.active::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
}